[submodule "projects/hw/dsi/kicad-lib"]
	path = projects/hw/dsi/kicad-lib
	url = https://github.com/xiongyumail/kicad-lib
[submodule "tools/gdocker"]
	path = tools/gdocker
	url = https://github.com/xiongyumail/gdocker
